.Navbar{
display: flex;
box-sizing: border-box;
} 

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}



main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  overflow: 'hidden'

}

p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 50px;
  border: 1px solid rgb(243, 235, 235);
  padding: 20px;
  border-radius: 10px;
  
}
h1, h2, p {
  font-size: 14px;
  font-size: 12px;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #f7f2f2;
}
h1 {
  font-size: 18px;
    font-size: 12px;
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #dfd0d0;

}
body{
    background-color: rgb(11, 14, 50);
    background-image: url("https://www.w3schools.com/howto/img_link_tree_template3_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.icon-container a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.icon-container i {
  font-size: 30px;
}
