body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p{
  background-color: rgb(239, 233, 233);
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
ul{
   color-interpolation-filters: sRGB;
  margin: 1px;
  padding: 0px;
}
ul li{
  list-style-type: none;
  margin: 4px;
  padding: 0px;
}

a{
  color: rgb(255, 255, 255);
}


.social-link {
  display: inline-block;
  text-decoration: none;
}

.social {
  width: 48px;
  height: 48px;
}

.social-svg {
  width: 100%;
  height: 100%;
}
.Navbar{
display: flex;
box-sizing: border-box;
} 

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1px;
  overflow: 'hidden';
  color: rgb(0, 0, 0);

}

p {
font-size: 18px;
line-height: 1.5;
margin-bottom: 50px;
border: 2px solid rgb(25, 25, 112); /* DarkSlateBlue color */
padding: 20px;
border-radius: 10px; /* rounded corners */
box-shadow: 0px 0px 10px 2px rgba(25, 25, 112, 0.5); /* a subtle drop shadow */


  
}
h1, h2, p {
  font-size: 14px;
  font-size: 12px;
  line-height: 1.5;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #f7f2f2;
}
h1 {
  font-size: 18px;
    font-size: 12px;
  line-height: 1.5;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border: 1px solid #dfd0d0;

}
body{
    background-color: rgb(16, 35, 236);
    background-image: url("https://www.w3schools.com/howto/img_link_tree_template3_bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
.icon-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.icon-container a {
  margin-left: 10px;
  color: #333;
  text-decoration: none;
}

.icon-container i {
  font-size: 30px;
}

